.section {
  &__title {
    text-align: center;
    color: var(--dark-violet);
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  &__description {
    text-align: center;
    color: var(--paragraph);
    line-height: 1.75rem;
    letter-spacing: 0.005em;
    max-width: 445px;
    margin: 0 auto;
  }
}

@include screen-s {
  .section {
    &__title {
      text-align: left;
    }

    &__description {
      text-align: left;
      width: 445px;
    }
  }
}
